@tailwind base;

/* Write your own custom base styles here */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

body {
  font-family: Inter;
  font-size: 14px;
  background-color: #2a2d33;
  color: #eee;
}

.font-overpass {
  font-family: Overpass, Inter, sans-serif;
}

.font-gradient {
 background: linear-gradient(120deg, #00bcd4, #ca1d86);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
