@tailwind base;

/* Write your own custom base styles here */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  font-family: Inter;
  font-size: 14px;
  background-color: #111827;
  color: #fff;
}

.font-overpass {
  font-family: Overpass, Inter, sans-serif;
}

.font-ubuntu {
  font-family: Ubuntu, Inter, sans-serif;
}

.font-gradient {
  background: -webkit-linear-gradient(rgb(10, 12, 82), rgb(185, 27, 151));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
